# Variables de Odoo
ODOO_URL=https://tu-instancia.odoo.com
ODOO_DB=nombre_bd

# (Opcional) Nombre técnico de los reportes PDF en Odoo
# Si se dejan en blanco, la aplicación intentará inferirlos automáticamente
ODOO_REPORT_PAGO=
ODOO_REPORT_AGUINALDO=